body {
    background:linear-gradient(rgb(251, 198, 235), rgb(104, 51, 92));
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.assignment {
    display:flex;
    padding: 10 px; 
    margin: 10 px;
    background: rgb(218, 91, 127);
    border-radius:3px; 
}

.assignment img {
    width:20px;
    padding:10px;
    margin:10px;
    border:3px solid #8a3f3f;
}

.assignment img:hover {
    border: 3 px dashed #ffffff; 
}

h1 {
    text-align:center;
    text-decoration:bold; 
    font-size: 200px; 
    color: rgb(255, 227, 67);
    text-shadow: 2px 2px 0px rgb(104, 51, 92);
    text-shadow: 4px 4px 0px rgb(218, 91, 127);
}

a {
    text-decoration:none;
    font-size: 100px; 
    color:#e27531
}

p{
    color:beige; 
}

a:hover {
    text-decoration: underline;
    color:#FFFFFF; 
}